<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cibao.cibao">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.main_level.ActivityMainMenu" />
        <activity android:name=".login.main_level.function_my_lexicon.ActivityMyLexicon" />
        <activity android:name=".login.main_level.function_my_lexicon.sub_function.ActivityAddWordToLexicon" />
        <activity android:name=".login.main_level.function_my_lexicon.sub_function.ActivityGlossaryTest" />
        <activity android:name=".login.main_level.function_my_lexicon.sub_function.glossary_test.ActivityTestChoiceQuestion" />
        <activity android:name=".login.main_level.function_my_lexicon.sub_function.glossary_test.ActivityTestImageSelection" />
        <activity android:name=".login.main_level.function_setting.ActivityPreferenceSetting" />
        <activity android:name=".login.main_level.ActivityLogin" />
        <activity android:name=".ActivityWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.main_level.function_my_lexicon.sub_function.ActivityLexiconTable"></activity>
    </application>

</manifest>